@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --startBg: #bg-white;
  --bg: #151c2c;
  --bgSoft: #182237;
  --text: white;
  --textSoft: #b7bac1;
}


body{
  overflow-x: hidden;
}

@layer utilities {
  .links{
    @apply text-gray-800 dark:text-white transition-all duration-300 hover:bg-gray-200 dark:hover:bg-gray-700 px-4 py-4 hover:text-white rounded-full
  }
  .title{
    @apply text-center sm:text-7xl text-6xl mb-4 font-medium text-gray-900
  }
}